BR2_powerpc=y
BR2_powerpc_750=y
BR2_GCC_VERSION_6_X=y
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/nintendo/gamecube/post-image.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_DEFCONFIG="gamecube"
BR2_LINUX_KERNEL_IMAGE_TARGET_CUSTOM=y
BR2_LINUX_KERNEL_IMAGE_TARGET_NAME="dtbImage.gamecube"
BR2_TARGET_ROOTFS_INITRAMFS=y
BR2_PACKAGE_HOST_GAMECUBE_TOOLS=y
