BR2_powerpc=y
BR2_powerpc_750=y
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/nintendo/wii/post-image.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_DEFCONFIG="wii"
BR2_LINUX_KERNEL_IMAGE_TARGET_CUSTOM=y
BR2_LINUX_KERNEL_IMAGE_TARGET_NAME="dtbImage.wii"
BR2_TARGET_ROOTFS_INITRAMFS=y
BR2_PACKAGE_HOST_GAMECUBE_TOOLS=y
